.mylist{
    h2{
        color: darkmagenta;
        margin: 2px;
    }

    ul{
        margin: 10px;
        list-style: none;
        color:green;
    }

    li{
        &:hover{
            color: teal;
        }
    }
}